
html, body {
    background: grey;
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avatar{
    border: 1px solid;
    margin: auto;
    width: calc(4150px / 10 / 3);
    height: calc(507px / 3);
    
    background-size: calc(4150px / 3);
    position: relative;
    top: 100px;

}

.running{
    background: url(../images/Run-spritesheet.png) repeat-x;
    animation: animateSprite 2s steps(calc(10 * 3)) infinite;
}

@keyframes animateSprite {
    0% { background-position: 0 }
    100% { background-position: -4150px }
}

.jumping{
   background: url(../images/Jump-spritesheet.png) repeat-x;
   animation: jump 1s ease-out, animateSprite 6s steps(calc(10 * 3)) infinite;
}

@keyframes jump {
    0%{
        top: 100px;
    }
    45%, 55%{
        top: 25px;
    }
    100%{
        top: 100px;
    }
}

#background{
    width: calc(5747px / 3);
    height: calc(1081px / 3);
    border: 1px red solid;
    background: url(../images/background.png ) repeat-x;
    animation: movebg 12s linear infinite;
    position: relative;
}

@keyframes movebg {
    0% { background-position: 5747px}
    100% { background-position: 0}
}

