html, body, main, .game, .general-info {
    background: grey;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    height: 100%;
}

@font-face {
    font-family: 'CF Cherokee Regular';
    src: url('../assets/fonts/CFCherokeeRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Carnevalee Freakshow';
    src: url('../assets/fonts/CarnevaleeFreakshow.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rio Grande Striped';
    src: url('../assets/fonts/RioGrandeStriped.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Vanilla Whale';
    src: url('../assets/fonts/VanillaWhale.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.general-info{
    background-color: #fce970;
    width: calc(1920px / 2);
    height: calc(1080px / 2);
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ul3{
    margin-top: 10px;
    margin-bottom: 0px;
}
.ul4{
    margin-top: 10px;
    margin-bottom: 20px;
}

.word-runner, .word-congrats{
    /*background-color: rgba(	252,	233,	112, 0.2);*/
    background-color: rgba(		47, 0, 6, 0.2);
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    text-align: center;
    color: #2f0006;
    padding: 2vh;
    top: 60px;
    font-family: 'Carnevalee Freakshow';
}

.word-runner{
    width:80%;
    height:50px;
    font-size: 5vh;
}
ul{
    font-size: 5vh;
}
h2, h3{
    font-family: 'CF Cherokee Regular';
    font-size: 10vh;
    margin: 0px;
}

h3{
    font-size: 7vh;
}

.button-custom-background, .button-custom-avatar{
    margin: 0vh 13vh 10vh 4vh;
    font-family: 'Vanilla Whale';
    border-radius: 30%;
}
.button-color-background-with-day{
    background-color: #4c0654;
}
.button-color-avatar-with-cowboy{
    background-color: #333333;
}

.button-color-background-with-night{
    background-color: #d74e1d;
}

.button-color-avatar-with-cowgirl{
    background-color: #3ed787;
}

.word-congrats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:80%;
    height:80%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    font-size: 10vh;
}

button{
    font-family: 'Carnevalee Freakshow';
    font-size: 5.5vh;
    background-color: #2f0006;
    color: #fce970;
}
.general-info h1{
    font-family: 'Rio Grande Striped';
    font-size: 20vh;
}
.hidden{
    display: none;
}

.score{
    background-color: rgba(		47, 0, 6, 0.2);
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    text-align: center;
    color: #2f0006;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 2vh;
    font-family: 'Carnevalee Freakshow';
    align-self: flex-start;
    margin-left: 4vh;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    font-size: 7vh;
}
.number-score{
    margin: 1vh;
}

footer{
    text-align: center;
    color: #fce970;
    background-color:#2f0006;
    font-family: 'Carnevalee Freakshow';
    font-size: 5.5vh;
}

.game, .general-info, main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avatar {
    margin: auto;
    position: absolute;
}

.running-cowboy{
    background: url(../images/Run-spritesheet.png) repeat-x;
    width: calc(4150px / 10 / 3);
    height: calc(507px / 3);
    animation: runningSpriteCowboy 0.7s steps(10) infinite;
    background-size: calc(4150px / 3);
    bottom: 45px;
    left: 100px;
}

@keyframes runningSpriteCowboy {
    0% {
        background-position: 0
    }
    100% {
        background-position: calc(-4150px /3)
    }
}

.running-cowgirl{
    background: url(../images/chica/editadas/Run-spritesheet.png) repeat-x;
    width: calc(3307px / 8 / 3);
    height: calc(507px / 3);
    animation: runningSpriteCowgirl 0.7s steps(8) infinite;
    background-size: calc(3307px / 3);
    bottom: 45px;
    left: 100px;
}

@keyframes runningSpriteCowgirl {
    0% {
        background-position: 0
    }
    100% {
        background-position: calc(-3307px / 3)
    }
}

.jumping-cowboy {
    
    width: calc(4070px / 10 / 3);
    height: calc(536px / 3);
    background: url(../images/Jump-spritesheet.png) repeat-x;
    animation: jump 1.2s cubic-bezier(.24,.66,.62,.99), jumpSpriteCowboy 1.2s steps(10) forwards;
    background-size: calc(4070px / 3);
    bottom: 45px;
    left: 100px;
}

@keyframes jumpSpriteCowboy {
    0% {
        background-position: 0
    }
    100% {
        background-position: calc(-4070px / 3)
    }
}

.jumping-cowgirl {
    
    width: calc(4014px / 10 / 3);
    height: calc(536px / 3);
    background: url(../images/chica/editadas/Jump-spritesheet.png) repeat-x;
    animation: jump 1.2s cubic-bezier(.24,.66,.62,.99), jumpSpriteCowgirl 1.2s steps(10) ;
    background-size: calc(4014px / 3);
    bottom: 45px;
    left: 100px;
}

@keyframes jumpSpriteCowgirl {
    0% {
        background-position: 0
    }
    100% {
        background-position: calc(-4014px / 3)
    }
}

.dying-cowgirl{
    background: url(../images/chica/editadas/Dead-spritesheet.png) repeat-x;
}

.dying-cowboy{
    background: url(../images/Dead-spritesheet.png) repeat-x;
}

.dying-cowboy, .dying-cowgirl{
    width: calc(5880px / 10 / 3);
    height: calc(600px / 3);
    background-size: calc(5880px / 3);
    animation: dieSprite 1.7s steps(10);
    animation-fill-mode: forwards;
    animation-iteration-count: calc(1/3);
    bottom: 25px;
    left: 125px;
}

@keyframes dieSprite {
    0% {
        background-position: 0
    }
    100% {
        background-position: -5880px
    }
}

@keyframes jump {
    0% {
        top: 320px;
    }
    50% {
        top: -50px;
    }
    100% {
        top: 320px;
    }
}

.colision{
    margin-left: 30px;
    margin-right: 40px;
    height: 100%;
}

.asset {
    position: absolute;
    right: -70px;
    animation-name: asset;
    animation-timing-function: linear;
    animation-duration: 3.71s;
}

.bush {
    background: url(../images/assets/Bush2.png) repeat-x;
    bottom: 45px;
    width: calc(131px * 0.70);
    height: calc(74px * 0.70);
    background-size: contain;
}
.cactus2{
    background: url(../images/assets/Cactus2.png) repeat-x;
    bottom: 45px;
    width: 70px;
    height: 45px;
}
.skeleton{
    background: url(../images/assets/Skeleton.png) repeat-x;
    bottom: 45px;
    width: calc(150px * 0.75);
    height: calc(51px * 0.75);
    background-size: contain;
}

@keyframes asset {
    0% {
        right: -50px;
    }
    100% {
        right: 970px;
    }
}

@keyframes collect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0,-50px) rotateY(1080deg);
        
    }
}

.collectible-img{
    background: url(../images/assets/Trophy.png) repeat-x;
    width: calc(227px * 0.10);
    height: calc(243px * 0.10);
    background-size: contain;
    margin-right: 1vh;
    margin-top: 1vh;
    filter: opacity(80%);
}
.collectible{
    background: url(../images/assets/Trophy.png) repeat-x;
    bottom: 340px;
    width: calc(227px * 0.20);
    height: calc(243px * 0.20);
    background-size: contain;
}

.layer {
    width: calc(1920px / 2);
    height: calc(1080px / 2);
    position: absolute;
    background-repeat: repeat-x;
    background-size: cover;
}

.moving{
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.coverLayer{
    background: grey;
    width: 140px;
    height: 560px;
    position: relative;
}
.cl-left{
    top: 285px;
    right: 550px;
}
.cl-right{
    top: -285px;
    left: 550px;
}

.layer-night-9 {
    background-image: url(../images/parallax/night/9-Background.png);
}

.layer-night-8 {
    background-image: url(../images/parallax/night/8-Stars.png);
    animation-duration: 400s;
}

.layer-night-7 {
    background-image: url(../images/parallax/night/7-Clouds.png);
    animation-duration: 100s;
}

.layer-night-6 {
    background-image: url(../images/parallax/night/6-Sun.png);
}

.layer-night-5 {
    background-image: url(../images/parallax/night/5-Mountains.png);
    animation-duration: 60s;
}

.layer-night-4 {
    background-image: url(../images/parallax/night/4-Layer4.png);
    animation-duration: 30s;
}

.layer-night-3 {
    background-image: url(../images/parallax/night/3-Layer3.png);
    animation-duration: 22s;
}

.layer-night-2 {
    background-image: url(../images/parallax/night/2-Layer2.png);
    animation-duration: 14s;
}

.layer-night-1 {
    background-image: url(../images/parallax/night/1-Layer1.png);
    animation-duration: 7s;
}

.layer-night-0 {
    background-image: url(../images/parallax/night/0-Floor.png);
    animation-duration: 7s;
    background-size: calc(1920px /2);
    position: absolute; 
    bottom: 0;  
    width: 100%; 
    height: 50px; 
}


.layer-day-9 {
    background-image: url(../images/parallax/9-Background.png);
}

.layer-day-8 {
    background-image: url(../images/parallax/8-Stars.png);
    animation-duration: 400s;
}

.layer-day-7 {
    background-image: url(../images/parallax/7-Clouds.png);
    animation-duration: 100s;
}

.layer-day-6 {
    background-image: url(../images/parallax/6-Sun.png);
}

.layer-day-5 {
    background-image: url(../images/parallax/5-Mountains.png);
    animation-duration: 60s;
}

.layer-day-4 {
    background-image: url(../images/parallax/4-Layer4.png);
    animation-duration: 30s;
}

.layer-day-3 {
    background-image: url(../images/parallax/3-Layer3.png);
    animation-duration: 22s;
}

.layer-day-2 {
    background-image: url(../images/parallax/2-Layer2.png);
    animation-duration: 14s;
}

.layer-day-1 {
    background-image: url(../images/parallax/1-Layer1.png);
    animation-duration: 7s;
}

.layer-day-0 {
    background-image: url(../images/assets/0-Floor.png);
    animation-duration: 7s;
    background-size: calc(1920px /2);
    position: absolute; 
    bottom: 0;  
    width: 100%; 
    height: 50px; 
}

@keyframes scroll {
    0% {
        background-position-x: 0px
    }
    100% {
        background-position-x: -1920px
    }
}

