.home-container {
  margin: 40px 20px 10px 20px;
  display: flex;
  flex-direction: row;
}

.justify-content {
  justify-content: center;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertising-aside {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertising,
.advertising-2,
.advertising-3 {
  width: 100%;
  border-radius: 5px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.advertising-plus {
  max-height: 300px;
  width: 250px;
}

.advertising {
  max-height: 200px;
  width: 250px;
}

.advertising-aside figure {
  margin-bottom: 20px;
}

.advertising-aside img {
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  justify-content: space-between;
}

section .post {
  max-width: 660px;
}

h3 {
  margin-bottom: 10px;
}

main {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

/* main.home{
  max-height: 800px;
  overflow-y: auto;
} */

.suggests {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.suggest-vet {
  display: flex;
  width: 320px;
  margin-bottom: 5px;
  background-color: var(--secondary-whitish);
  padding-left: 5px;
}

.trending-topic p {
  margin-bottom: 20px;
}

.trending-topic h4 {
  margin-bottom: 10px;
}

.options {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 3px;
}

.options a {
  margin-right: 5px;
}

.options-buttons {
  display: flex;
}

.profile-pic-comment, .comment-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-div {
  margin-top: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-see-profile {
  background-color: var(--primary);
}


.trending-topic {
  background-color: var(--secondary-whitish);
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 300px;
}

.post {
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.post.promoted button {
  background-color: transparent;
}

.post.card.promoted {
  background-color: #FFFFE4;
  border: 2px solid var(--primary);
}

.button-prom {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-prom * {
  cursor: pointer;
}

.button-prom label {
  padding-left: 5px;
  padding-right: 5px;
}

.header-post {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  color: var(--primary-dark);
  font-weight: bold;
}

.text {
  padding: 18px;
  align-self: center;
}

.hidden {
  display: none;
}

.comments {
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}

.gallery {
  position: relative;
}


.fade img {
  max-width: 100%;
  max-height: 100%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none;
  background-color: rgba(87, 87, 87, 0.425);
}

.prev {
  left: 1px;
}

/* Position the "next button" to the right */
.next {
  right: 1px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(48, 48, 48, 0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;

}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.interaction-post {
  display: flex;
  flex-direction: column;
  margin: 0 20px 5px 20px;

}

.comment-text {
  margin: 0 0 0 10px;
}

.comment {
  display: flex;
  justify-content: space-between;
  margin: 15px 5px 5px 5px;
}

.text-comment {
  background-image: none;
  margin-left: 10px;
  width: 100%;
}

.buttons-post {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 5px 5px
}

.button-interaction {
  background-color: var(--very-light-grey);
}

.button-interaction .icon {
  margin: 0;
}

.button-interaction p {
  margin-left: 3px;
}