/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid black;
  background-color: #f2f2f2;
  margin: 0;
} */

.background {
  background-color: var(--primary);
  /* background-image: url(../images/home/SignUp.svg); */
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
}

.main-block {
  display: flex;
  justify-content: space-evenly;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.block1 {
  display: flex;
  justify-content: center;
}

.block2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 15px;
}

.registration {
  min-width: 360px;
  margin-bottom: 10px;
  padding: 5px 10px 0px 10px;
  border: 1px solid var(--black);
  border-radius: var(--main-radious);
}

.login {
  background: #f4f4f4;
  /* Dark Grey */

  border: 1px solid #575757;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 108px 220px 0px 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 556px;
}

form, .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

form section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

form label {
  height: 40px;
  width: 189px;
  left: 56px;
  top: 88px;
  border-radius: nullpx;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #575757;
  display: flex;
  align-items: center;
}

form input {
  height: 40px;
  width: 250px;
  background: var(--white);
  border: 0.5px solid var(--black);
  border-radius: 3px;
}

form a {
  margin: 40px 0 23px 0;
}

.principal-info {
  display: flex;
}

section a {
  color: #9C75B3;

}

hr {
  margin-top: 21px;
}

.full-button{
  background-color: var(--primary-dark);
  width: 250px;
  height: 35px;
}

.register button {
  background-color: var(--blue-link);
}

.register h4 {
  margin: 18px 0;
}