.advertising-aside {
  display: flex;
  justify-content: space-between;
}

.advertising-left{
  width: 100%;
  display: flex;
  justify-content: center;
}

/*se repite en css de home*/
.advertising-4,
.advertising-5,
.advertising-6 {
  width: 100%;
  border-radius: 5px;
}

.advertising-4, .advertising-6 {
  background: url(../images/search/p1.svg) no-repeat;
  height: 489px;
}
.advertising-5 {
  background: url(../images/search/p2.svg) no-repeat;
  height: 313px;
}

.left-side {
  width: 25%;
  align-items: flex-start;
}

.left-side h2{
  margin-bottom: 12%;
}

main{
  width: 50%;
}
.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card h1 {
  text-align: center;
  padding: 5%;
}

.suggest-search{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.suggest-user-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

.user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location{
    color: var(--primary-dark);
}

.mutual-contacts{
    color: rgba(43, 43, 43, 0.7);
   /* color: var(--dark-grey);*/
}

div h4{
    padding: 2px;
}

div a button{
    margin: 5px;
}

.user-data figure{
    margin-right: 15px;
}

.filter{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 25%;
}

.button-filter{
 width: 250px;
 padding: 1rem 3rem;
}

.selected-button{
  background-color:var(--primary-light);
  color: var(--dark);
}