/*----------------  TYPOGRAPHY  AND  COLORS   ----------------*/

/***********de prueba***************/
.test {
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/**********************************/

* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}


/************   TEXTS   SIZE    ************/
h1 {
  /* size: 36px; */
  font-size: 2.25rem;
  color: var(--primary-dark);
}

h2 {
  /* size: 30px; */
  font-size: 1.875rem;
}

h3 {
  /* size: 20px; */
  font-size: 1.25rem;
}

h4 {
  /* size: 18px; */
  font-size: 1.125rem;
}

h5 {
  /* size: 16px; */
  font-size: 1rem;
}

.paragraph-bold,
form label,
button {
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.description {
  /* size: 10px; */
  font-size: 0.625rem;
}

/************   CIRCLES    ************/

.circle {
  /* w & h = 58 * 58 px */
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 50%;
  background-color: var(--light-grey);
}

/************   COLORS    ************/

:root {
  --main-radious: 5px;

  --black: #2b2b2b;
  --dark-grey: #575757;
  --light-grey: #bcbcbc;
  --very-light-grey: #eaeaea;
  --white: #f4f4f4;

  --primary-dark: #5e2d7b;
  --primary: #9c75b3;
  --primary-light: #c2a6d3;
  --primary-whitish: #e4d5ed;

  --secondary-whitish: #e4e3ff;

  --blue-link: #0000ee;
  --edit: #d87e3c;

  --card: #EAEAEA;
}

body{
  background-color: var(--white);
}

/* figure{
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
} */