/*----------------  TYPOGRAPHY  AND  COLORS   ----------------*/

/***********de prueba***************/
.test {
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/**********************************/

* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

a *{
  cursor: pointer;
}

/************   TEXTS   SIZE    ************/
h1 {
  /* size: 36px; */
  font-size: 2.25rem;
  color: var(--primary-dark);
}

h2 {
  /* size: 30px; */
  font-size: 1.875rem;
}

h3 {
  /* size: 20px; */
  font-size: 1.25rem;
}

h4 {
  /* size: 18px; */
  font-size: 1.125rem;
}

h5 {
  /* size: 16px; */
  font-size: 1rem;
}

.paragraph-bold,
form label,
button {
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  text-align: center;
}

button {
  cursor: pointer;
}

.description {
  /* size: 10px; */
  font-size: 0.625rem;
}

/************   CIRCLES    ************/
.circle-small img {
  max-width: 50px;
  height: 100%;
}

.circle img {
  max-width: 60px;
  height: 100%;
}

/************   COLORS    ************/

:root {
  --main-radious: 5px;

  --black: #2b2b2b;
  --dark-grey: #575757;
  --light-grey: #bcbcbc;
  --very-light-grey: #eaeaea;
  --white: #f4f4f4;

  --primary-dark: #5e2d7b;
  --primary: #9c75b3;
  --primary-light: #c2a6d3;
  --primary-whitish: #e4d5ed;

  --secondary-whitish: #e4e3ff;

  --blue-link: #0000ee;
  --edit: #d87e3c;

  --card: #EAEAEA;
  --chat: #C2A6D3;
}

/************   Loading Ring    ************/

.lds-dual-ring {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 10px solid var(--black);
  border-color: var(--black) transparent var(--black) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************   ScrollBar Style    ************/

/* main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
  background:  rgb(68, 68, 68);
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
} */
